.App {
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
body {
  margin: 0;
  background: linear-gradient(
    45deg,
    hsl(272deg 75% 65%) 0%,
    hsl(193deg 100% 50%) 50%,
    hsl(162deg 84% 88%) 100%
  );
}

h1 {
  display: inline-flex;
  font-family: "Impact", sans-serif;
  background: url(/src/images/slide.jpg);
  font-size: 8rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #5b728a54;
  animation: move 30s linear infinite;
  letter-spacing: 0.3rem;
}

@keyframes move {
  from {
    background-position: 0 80%;
  }
  to {
    background-position: 100% 50%;
  }
}
